*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'montserrat','sans-serif';
}

body{
    min-height: 100vh;
}

nav{
    background-color: rgb(156, 156, 156);
    height: 5rem;
    padding-top: 1.3rem;
    /* padding-left: 1rem; */
    position: sticky;
    top:0;
    
    
}


h1{
    color: rgb(240, 239, 239);
    padding-left: 1rem;
    
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: rgb(213, 213, 213); */
    width: 100%;
    height: 19rem;
    margin-top: 1.5rem;
}

form{
    background-image: linear-gradient(90deg,rgb(213, 210, 204),rgba(191, 202, 204, 0.832));
    padding: 20px;
    width: 17rem;
    height: 19rem;
    display: flex;
    flex-direction: column;
    gap:1.4rem;
    place-items: center;
    border-radius: 5px;
    box-shadow: 8px 5px 16px rgb(185, 182, 182);

}

.text-input{
    width: 95%;
    min-height: 1.8rem;
    border-radius: 6px;
    padding: 5px;
    
}


/* input[type="checkbox"]{
    vertical-align: middle;
} */

.read_status{
    display: flex;
    align-items: center;
    width: 95%;
}

label{
    margin-left: 1.9rem;
    margin-right: 0.7rem;
}

.checkbox{
    height: 18px;
    width: 18px;
    transform: translateY(2.4px);
}

button{
    transition: transform 0.3s ease-in;
}

button:hover{
    transform: translateY(-0.12rem);
}

.add-btn{
    width: 6rem;
    padding: 5px;
    border-radius: 5px;
    background-color: #fcb212;
    display: block;
    cursor: pointer;
    
}

.shelf{
    /* margin-top: 20px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* min-height: 100vh; */
    grid-auto-rows: minmax(200px, auto);
    column-gap: 11rem;
    row-gap: 45px;
    /* background-color: aquamarine; */
    margin: 35px 4rem;
    margin-bottom: 70px;
    padding: 5px;
    box-sizing:content-box;
    
}

.book{
    font-size: 1.1rem;
    background-image: linear-gradient(90deg,rgb(247, 243, 240),rgb(225, 232, 234));
    background-color: white;
    height: 20rem;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: 1fr;
    gap:1px;
    justify-content: center;
    align-content: center;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 1px 4px 10px rgb(203, 201, 201),-1px -2px 10px rgb(201, 200, 200);
}

.book > p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.book > button{
    width:80%;
    height: 80%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.06rem;
    justify-self: center;
}

.book-name{
    font-size: 1.5rem;
    /* height: fit-content;
    text-align: center; */

}

.btn-read-status-y{
    background-color: rgb(165, 228, 165);

}

.btn-read-status-y:hover{
    background-color: rgb(137, 238, 137);

}

.btn-read-status-n{
    background-color: rgb(218, 216, 215);


}

.btn-read-status-n:hover{
    background-color: rgb(209, 234, 209);
}

.btn-remove{
    background-color: rgb(255, 118, 118);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-remove:hover{
    background-color: rgb(254, 95, 95);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20px
  }

footer{
    background-image: linear-gradient(-90deg,black,grey);
    position: sticky;
    bottom: 0;
    color: white;
    /* text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 2rem; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #333; */
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: 250;
    display: grid;
    place-items: center;
    
}

footer a{
    color: white;
    
    /* display: flex;
    align-items: center; */

}

.bxl-github{
    font-size: 22px;
    margin-left: 0.3rem;
    vertical-align: middle;
    transform: translateY(-0.1rem);
}


@media screen and (max-width:1024px) {
    .shelf{
        grid-template-columns: repeat(2,1fr);
        column-gap: 9rem;

    }
}

@media screen and (max-width:610px) {
    .shelf{
        grid-template-columns: repeat(1,1fr);
        column-gap: 9rem;

    }
}